[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
"psycopg2" = "*"
simplejson = "*"
pytest = "*"
"psycopg2-binary" = "*"
"Flask-SQLAlchemy" = "*"
Flask-Migrate = "*"
Flask-Heroku = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
gunicorn = "*"

[requires]
python_version = "3.6"